@media (min-width: 861px) {
    body {
        font-size:37px
    }
}

@media (max-width: 1000px) {
    #header {
        h1 {
            font-size: 18px;

            top:30px;
            left: 30px;
            right: 30px
        }
    }
    #nav {
        font-size: 18px;
    }
    .page-section__details {
        margin:10px 10px ;
        padding: 100px 0 50px
    }
    .left,
    .leftt {
        margin-right: 0;
    }
    .right,
    .rightt {
        margin-left: 0;
    }

    .venues-wrap {
        margin: 10px 0;
        gap : 10px;
        max-width: 860px;
        width: 100%;

        .card2 {
            width: 100%;
        }
    }
    .card3-wrap {
        margin: 10px 0;
        gap : 10px;
        max-width: 860px;
        width: 100%;
    }
    .card {
        margin: 10px 0;
        gap : 10px;
        max-width: 860px;
        width: 100%;    
    }

    #footer {
        .footer-item {
            .footer-title {
                @include cardBackTitle20;
            }
        }
        .footer-item__inner {
            .footer-item__inner-list {
                .list-item {
                    @include cardBackInfo13;
                }
            }
        }
        .footer-item__inner-contactlist {
            align-content: flex-end;
            flex-wrap: wrap;
        }
    }
    
}
@media (max-width: 860px) {
    .layout {
        margin-left:20px;
        margin-right: 20px
    }
    .layout--scroll {
        min-height:60vh
    }
    .layout--scroll>* {
        top: 120px
    }
    .page-section__details {
        margin:10px 10px 0;
        padding: 100px 0 50px
    }
    .left,
    .leftt {
        margin-right: none;
    }
    .right,
    .rightt {
        margin-left: none;
    }

    .title-fixed svg {
        scale:.8
    }
    #footer{
        display: flex;
        flex-direction: column;
        
        .footer-item {
            display: flex;
            flex-direction: column;
            width: 100%;
            
            .footer-title {
                margin-bottom: 20px;
            }
            .footer-item__inner {
                .footer-item__inner-contactlist {
                    height: auto;
                }
            }
        }
    }
}

